
__pycache__/
.coverage
.DS_Store
.idea/
.pytest_cache/
.vscode/
*.egg-info/
*.py[cod]
*.so
*.swo
*.swp
*.whl
**/*.rs.bk
*$py.class
build/
dist/
htmlcov/
target/
target/debug/
target/debug/build/
target/debug/deps/
target/release/
target/release/build/
target/release/deps/
Thumbs.db
.DS_Store
